/* responsive iframe */

.iframe-container {
	position: relative;
	padding-bottom: 75%; /* fallback but each iframe may need it's own value */
	height: 0;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}